body{
  background-color: #04a6eb;
  color: #dfffff;  
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button{
  padding: 5px 20px;
  background-color: #337ab7;
  border-style: #000000;

}

input{
  height: 29px;
}